<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About - Fake Video Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css1/style.css') }}">
</head>
<body>

    <div class="header" style="background-color: white; padding: 15px 30px;">
        <div class="nav" style="float: right;">
            <a href="/" style="margin-right: 20px; color: black;">Home</a>
            <a href="/about" style="margin-right: 20px; color: black;">About</a>
        </div>
    </div>

    <div style="padding: 10px 50px 50px; text-align: center; margin-top: -50px;">
        <h1 style="font-size: 60px; color: black">About</h1>
        <p style="max-width: 900px; margin: auto; font-size: 18px; line-height: 1.6; color: black">
            Deep video fake applications represent a groundbreaking advancement in artificial intelligence,
            enabling the synthesis of hyper-realistic video content that can be indistinguishable from authentic footage.
            Leveraging deep learning techniques such as generative adversarial networks (GANs) and convolutional neural
            networks (CNNs), these applications have the capability to manipulate facial expressions, gestures,
            and speech in videos with astounding accuracy. By seamlessly blending and morphing source content with
            target video sequences, deep video fake technology has significant implications for various domains,
            including entertainment, journalism, and cybersecurity.
            However, the proliferation of deep video fakes also raises ethical concerns regarding misinformation,
            privacy violations, and potential misuse. This abstract explores the underlying principles, applications,
            and ethical considerations surrounding deep video fake technology, shedding light on its transformative
            potential and the challenges it presents in today’s digital landscape.
        </p>
    </div>
</body>
</html>
