<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Fake Video Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css1/style.css') }}">
</head>
<body>

    <div class="header">
        <span class="logo">DeepFake Video Detection</span>
        <div class="nav">
            <a href="/">Home</a>
            <a href="/login">Login</a>
            <a href="/about">About</a>
            <a href="/contact">Contact</a>
        </div>
    </div>

    <div class="main-content">
        <h1>Welcome!</h1>
        <a href="/login" class="login-button">Login</a>
    </div>
</body>
</html>
